.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
}

#display {
    border-style: dotted ;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

#bottom{
    flex: 1 1 150px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}


.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color:mediumaquamarine;
    color: whitesmoke;
    grid-column: 2 / 5 ;
}

.button:hover {
    background-color: lightslategray;
    color: white;
    transition: 0.3s ease-in-out;
}